# Email SMTP Credentials
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password

# Google Gemini API Key
VITE_GEMINI_API_KEY=your-gemini-api-key

# Cloudinary Configurations
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
